.nodeComponent {
  display: flex;
  flex-direction: column;
  position: relative;
}

.nodeComponent__backgroundImage > img {
  position: absolute;
  object-fit: cover;
  margin: 5% 50%;
  width: 50%;
  height: 50%;
  border-radius: 20px;
  z-index: -1;
}

.nodeComponent__table,
th,
td {
  border: 1px solid black;
}

thead {
  text-align: center;
}

th,
td {
  padding: 5px;
}

td {
  max-width: 20vw;
}

tbody>tr>td {
  text-align: justify;
}

.nodeComponent__link {
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 2px solid transparent;
  width: max-content;
  border-radius: 20px;
  margin: 10px 20px;
  transition: border 200ms ease-in;
}

.nodeComponent__link:hover {
  color: blue;
  border: 2px solid blue;
}

@media only screen and (max-width:450px) {
  .nodeComponent__table {
    margin-right: 20px;
  }

  td {
    max-width: 50vw;
  }
}